/*----------------------------------------------------------------------
[Master Stylesheet]

	Project:        Ark - Responsive Multi-Purpose Theme
	Version:        1.0
	Author:         Prothemes.net
	Primary use:    Corporate, Business, Portfolio, Landing, Shop and Blog Themes.
	Email: 			prothemes.net@gmail.com
	Website:		http://www.prothemes.net
-----------------------------------------------------------------------*/


/*--------------------------------------------------
    [General]
----------------------------------------------------*/

p {
	font-size: 15px;
	color: #34343c;
	line-height: 1.8;
}

em,
li,
li a {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8;
	color: #34343c;
}

a {
	font-weight: 300;
}

li a {
	color: #00bcd4;
}

hr {
	margin: 30px 0;
}


/*--------------------------------------------------
    [Banner]
----------------------------------------------------*/

.doc-banner {
	text-align: center;
}

.doc-banner .doc-banner-title {
	font-size: 50px;
}

.doc-banner .doc-banner-subtitle {
	display: block;
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 5px;
}

.doc-banner .doc-banner-text {
	font-size: 30px;
	font-style: italic;
}


/*--------------------------------------------------
    [Heading]
----------------------------------------------------*/

.doc-heading {
	margin-bottom: 25px;
}

.doc-heading .doc-heading-title {
	position: relative;
	font-size: 28px;
	padding-bottom: 10px;
}

.doc-heading .doc-heading-title:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #bbb;
	content: " ";
}

.doc-heading .doc-back-to-top {
	z-index: 9;
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	font-size: 20px;
	color: #fff;
	background: #00bcd4;
	border-radius: 3px;
	overflow: hidden;
	padding: 0 9px;
}

.doc-heading .doc-back-to-top:focus {
	color: #fff;
}


/*--------------------------------------------------
    [CSS Files]
----------------------------------------------------*/

.doc-css-files {
	border-left: 1px solid #34343c;
	padding-top: 7px;
}

.doc-css-files li {
  	margin: 8px 5px 8px 5px;
}

.doc-css-files li i {
	font-size: 24px;
	color: #00bcd4;
	margin-left: 5px;
}

.doc-css-files.doc-css-subfiles {
  	margin-left: 25px;
}


/*--------------------------------------------------
    [White Content]
----------------------------------------------------*/

.doc-white-content {
	background: #fff;
	box-shadow: 0 2px 5px 3px #eff1f8;
	padding: 30px;
	margin-bottom: 50px;
}


/*--------------------------------------------------
    [Popup Window]
----------------------------------------------------*/

.popup-window {
	position: relative;
	max-width: 650px;
	text-align: left;
	background: #fff;
	padding: 20px 30px;
	margin: 40px auto;
}